.unionCalculator__switchDiv {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
  align-items: center; }
  .unionCalculator__switchDiv span {
    margin-left: 1em; }

.unionCalculator .unionCalculator__firstSection {
  padding: 2em; }

.unionCalculator .unionCalculator__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em; }
  .unionCalculator .unionCalculator__info .unionCalculator__title {
    display: flex;
    margin-bottom: 0.4em; }
  .unionCalculator .unionCalculator__info .unionCalculator__number {
    min-width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: #fca222;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em; }
    .unionCalculator .unionCalculator__info .unionCalculator__number span {
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      color: #2d2d2d; }

.unionCalculator .unionCalculator__summary {
  padding: 1em;
  background-color: #fcfcfc; }
  .unionCalculator .unionCalculator__summary .unionCalculator__summaryLabel {
    font-family: 'Montserrat', sans-serif;
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 600; }
  .unionCalculator .unionCalculator__summary .unionCalculator__summaryTotal {
    font-family: 'Montserrat', sans-serif;
    color: #2d2d2d;
    font-size: 32px;
    font-weight: 600; }

.unionCalculator .unionCalculator__summarySmall {
  font-family: 'Open Sans';
  font-size: 10px;
  font-style: italic; }

.unionCalculator .unionCalculator__continueButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  cursor: pointer; }
  .unionCalculator .unionCalculator__continueButton .unionCalculator__arrowDown {
    color: #fca222; }

.unionCalculator .unionCalculator__form {
  background-color: #fcfcfc;
  padding: 2em; }

.unionCalculator__birthDiv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1em;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em; }
  .unionCalculator__birthDiv .SingleDatePicker_picker {
    left: -120px !important; }
  .unionCalculator__birthDiv .SingleDatePickerInput__withBorder {
    width: 100%;
    height: 45px; }
  .unionCalculator__birthDiv .DateInput {
    width: 100%;
    height: 100%; }
  .unionCalculator__birthDiv .DateInput_input__small {
    box-sizing: border-box;
    height: 100%;
    font-size: 14px;
    padding-left: 1em; }
    .unionCalculator__birthDiv .DateInput_input__small::placeholder {
      padding-left: 0.5em;
      color: rgba(65, 77, 86, 0.35); }
  .unionCalculator__birthDiv .DateInput_input__focused {
    border-bottom: 2px solid #fca222; }
  .unionCalculator__birthDiv .CalendarDay__selected,
  .unionCalculator__birthDiv .CalendarDay__selected:active,
  .unionCalculator__birthDiv .CalendarDay__selected:hover {
    background: #fca222;
    border: 1px double #fca222;
    color: #fff; }
