.unionCalculator {
  &__switchDiv {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
    align-items: center;
    span {
      margin-left: 1em;
    }
  }
  .unionCalculator__firstSection {
    padding: 2em;
  }
  .unionCalculator__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    .unionCalculator__title {
      display: flex;
      margin-bottom: 0.4em;
    }

    .unionCalculator__number {
      min-width: 32px;
      height: 32px;
      border-radius: 32px;
      background-color: #fca222;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.5em;
      span {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        color: #2d2d2d;
      }
    }
  }

  .unionCalculator__summary {
    padding: 1em;
    background-color: #fcfcfc;
    .unionCalculator__summaryLabel {
      font-family: 'Montserrat', sans-serif;
      color: #2d2d2d;
      font-size: 14px;
      font-weight: 600;
    }
    .unionCalculator__summaryTotal {
      font-family: 'Montserrat', sans-serif;
      color: #2d2d2d;
      font-size: 32px;
      font-weight: 600;
    }
  }
  .unionCalculator__summarySmall {
    font-family: 'Open Sans';
    font-size: 10px;
    font-style: italic;
  }

  .unionCalculator__continueButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    cursor: pointer;
    .unionCalculator__arrowDown {
      color: #fca222;
    }
  }

  .unionCalculator__form {
    background-color: #fcfcfc;
    padding: 2em;
  }
}

.unionCalculator__birthDiv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1em;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
  .SingleDatePicker_picker {
    left: -120px !important;
  }
  .SingleDatePickerInput__withBorder {
    width: 100%;
    height: 45px;
  }
  .DateInput {
    width: 100%;
    height: 100%;
  }
  .DateInput_input__small {
    box-sizing: border-box;
    height: 100%;
    font-size: 14px;
    padding-left: 1em;
    &::placeholder {
      padding-left: 0.5em;
      color: rgba(65, 77, 86, 0.35);
    }
  }
  .DateInput_input__focused {
    border-bottom: 2px solid #fca222;
  }
  .CalendarDay__selected,
  .CalendarDay__selected:active,
  .CalendarDay__selected:hover {
    background: #fca222;
    border: 1px double #fca222;
    color: #fff;
  }
}
