.header {
  height: 10vh;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
  position: relative;
  z-index: 999;
}
